<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.wasakamantap">

    <compatible-screens>
        <!-- all small size screens -->
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <!-- all normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
    </compatible-screens>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.KayuhBaimbai">
        <activity android:name="com.blogspot.wasakamantap.ui.game.GamePlayScreen"></activity>
        <activity android:name=".ui.SettingScreen" />
        <activity android:name="com.blogspot.wasakamantap.ui.tradisibudaya.permainantradisional.PermainanTradisionalScreen" />
        <activity android:name="com.blogspot.wasakamantap.ui.tradisibudaya.kesenian.KesenianScreen" />
        <activity android:name="com.blogspot.wasakamantap.ui.tradisibudaya.tradisi.TradisiScreen" />
        <activity android:name="com.blogspot.wasakamantap.ui.tradisibudaya.TradisiBudayaScreen" />
        <activity android:name="com.blogspot.wasakamantap.ui.game.GameScreen" />
        <activity android:name="com.blogspot.wasakamantap.ui.komoditas.KomoditasScreen" />
        <activity android:name=".ui.MainScreen" />
        <activity android:name="com.blogspot.wasakamantap.ui.opening.BlankScreen" />
        <activity android:name="com.blogspot.wasakamantap.ui.opening.OpeningScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.blogspot.wasakamantap.ui.opening.SplashScreen" />
    </application>

</manifest>